.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pdf-viewer-container, .pdf-viewer-container iframe {
    min-height: 450px;
}

@media (min-height: 855px) {
    .pdf-viewer-container, .pdf-viewer-container iframe {
        min-height: 650px;
    }
}



.tab-btn {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.tab-btn:first-of-type {
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%) !important;
}

.tab-btn:nth-last-of-type(1) {
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
}

.tab-btn:first-of-type:nth-last-of-type(1) {
  clip-path: unset !important;
}

.tab-btn:not(:first-of-type) {
  margin-left: -16px;
}

.tab-btn:hover span {
  display: block;
}

.panel-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 
    calc(200px + var(--explorer-delta, 0px))
    calc(400px - var(--explorer-delta, 0px) + var(--workspace-delta, 0px))
    calc(400px - var(--workspace-delta, 0px));
  grid-template-areas: "explorer workspace pdf";
}


.panel-grid > .panel-explorer {
  grid-area: explorer;
}

.panel-grid > .panel-workspace {
  grid-area: workspace;
}

.panel-grid > .panel-pdf {
  grid-area: pdf;
}


/* .resize-handle {
  transition: background-color 0.2s;
} */