@import "tailwindcss";


@theme {
  --color-customwhite: #f7fbfc;
  --color-theme-light-primary: #102fdd;
  --color-theme-dark-primary: #11bcfa;
}

@custom-variant dark (&:where(.dark, .dark *));

@plugin 'tailwind-scrollbar';

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
